.top__category__1__main
  - @posts.each do |post|
    .top__category__1__main__item 
      = link_to user_path(:id) do
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            = image_tag "#{post.image}",size:"250x200"
            .top__category__1__main__item__box__image__price
              = post.name
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
          - if user_signed_in?
            = link_to "削除", post_path(post.id), method: :delete, class: ""
          .top__category__1__main__item__box__text__hidden
            = link_to "編集", edit_post_path(post.id), method: :get, class: ""
        %div{:style => "width: 100%;"}
          #map{:style => "width: 100%; height: 100vh;"}


        :javascript
          function initMap(){
            let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
            });
          }

        %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials[:GOOGLE_MAP_KEY]}&callback=initMap"}
 