.content_main
  .content_main_image
    .content_main_image_row
      = image_tag("mt-fuji-1352353_1920.jpg",size: "800", class:"content-all__right__image-images")

.top__category__1__main
  - @posts.each do |post|
    .top__category__1__main__item 
      = link_to user_path(:id) do
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            = image_tag "#{post.image}",size:"250x200"
            .top__category__1__main__item__box__image__price
              = post.name
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              = post.name
              .top__category__1__main__item__box__text__hidden