.contents    
    .contents__row
        .contents__row__include
            旅行先で出会った商品を投稿してみましょう
            = form_for @post do |f|
                .contents__row__include__name
                = f.text_field :name, class:"product-name",placeholder: "題名"
                .contents__row__include__name__address
                = f.text_field :address, class:"product-name",placeholder: "例 東京都渋谷区"
                .contents__row__include__name__address__image
                = f.file_field :image, placeholder: "Image"
                .contents__row__include__name__address__image__text
                = f.text_field :text, class:"product-name__express",placeholder: "あなたのオススメ品の良いところをお書きください" , rows: "5"
                .form-group 
                = f.text_field :tag_list,class:"product-name",placeholder: "好きなタグを入れてください"
                .contents__row__include__name__address__image__text__form
                = f.submit "投稿する", class: 'btn'