.header
  .header__left
    .header__left__content
      .header__left__content__text
        = link_to image_tag("logoa.jpg",size:"200x50", class:"content-all__right__image-images"), root_path
  .header__search
    .header__search__input
      .header__search__input__icon
        .search
          = form_tag posts_searches_path, method: :get , class: 'search__tag' do
            = text_field_tag :search, '', placeholder: 'お土産を探そう'
            = label_tag '', class: 'search__tag__text' do
              = icon('fas', 'search', class: 'search__tag__text__box')
              = submit_tag 'Search', class: 'search__tag__text__box__image'

  .header__main
    - if user_signed_in?
      .header__main__logout
        .header__main__logout__content
          .header__main__logout__content__right
            = link_to destroy_user_session_path, method: :delete, class: "" do
              =icon('fas','sign-out-alt')
              ログアウト

      .header__main__post
        .header__main__post__content
          .header__main__post__content__right
            = link_to new_post_path, class: "" do
              =icon('fas','paper-plane')
              投稿する

      .header__main__post
        .header__main__post__content
          .header__main__post__content__right
          = link_to 'マイページ', user_path(:id)
    - else
      .header__main__post
        .header__main__post__content
          .header__main__post__content__right
          = link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post

      .header__main__login
        .header__main__login__content
          .header__main__login__content__right
            = link_to new_user_session_path, class: "" do
              =icon('fas','sign-in-alt')
              ログイン
              
      .header__main__new
        .header__main__new__content
          .header__main__new__content__right
            = link_to new_user_registration_path, class: "" do
              =icon('fas','user-alt')
              新規登録

     