.header
  .header__main
    .header__main__content
      .header__main__content__left
        = link_to image_tag("logoa.jpg",size:"200x50", class:"content-all__right__image-images"), root_path
  .header__search
    .header__search__input
      .header__search__input__icon
        .search
          = form_tag posts_searches_path, method: :get , class: 'header-main__search-bar1__text__form' do
            = text_field_tag :search, '', placeholder: '何かお探しですか？'
            = label_tag '', class: 'header-main__search-bar1__text__box' do
              = icon('fas', 'search', class: 'header-main__search-bar1__text__box__image')
              = submit_tag 'Search', class: 'header-main__search-bar1__text__box__hidden'

    .header_main_ham
      #ham-menu
        - if user_signed_in?
          .header__main__logout
            .header__main__logout__content
              .header__main__logout__content__right
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: ""
          .header__main__post
            .header__main__post__content
              .header__main__post__content__right
                = link_to "投稿する", new_post_path, class: ""
        - else
          .header__main__login
            .header__main__login__content
              .header__main__login__content__right
                = link_to "ログイン", new_user_session_path, class: ""
          .header__main__new
            .header__main__new__content
              .header__main__new__content__right
                = link_to "新規登録", new_user_registration_path, class: ""
  
      #menu-background
    